<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">

    <servlet>
    	<servlet-name>Initialization</servlet-name>
    	<servlet-class>ece1779.cloudmsngr.servlets.Initialization</servlet-class>
  		<load-on-startup>0</load-on-startup>
  	</servlet>
	<servlet>
		<servlet-name>GoogleLogin</servlet-name>
		<servlet-class>ece1779.cloudmsngr.servlets.GoogleLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CloudMessenger</servlet-name>
		<servlet-class>ece1779.cloudmsngr.servlets.CloudMessenger</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TextReceiver</servlet-name>
		<servlet-class>ece1779.cloudmsngr.servlets.TextReceiver</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManagerUI</servlet-name>
		<servlet-class>ece1779.cloudmsngr.servlets.ManagerUI</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>GoogleLogin</servlet-name>
        <url-pattern>/servlet/GoogleLogin</url-pattern>	
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloudMessenger</servlet-name>
        <url-pattern>/servlet/CloudMessenger</url-pattern>	
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextReceiver</servlet-name>
        <url-pattern>/servlet/TextReceiver</url-pattern>	
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUI</servlet-name>
        <url-pattern>/servlet/ManagerUI</url-pattern>	
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Initialization</servlet-name>
        <url-pattern>/servlet/Initialization</url-pattern>	
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>servlet/GoogleLogin</welcome-file>
	</welcome-file-list>
</web-app>
